body {
  background: #000 url("../images/stars1.jpg") no-repeat fixed center;
  background-size: cover;
  /*color: #ffd700; star wars yellow*/
  color: rgb(229,177,58); /*R: 229 G: 177 B: 58 */ /*R: 75 G: 213 B: 238*/ /*rgb(229,177,58) rgb(75,213,238) */
  font-family: "Droid Sans", arial, verdana, sans-serif;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.fixed-center-faded {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

#title2 {
  height: 0;
}

#title-subtext {
  padding-top: 480px;
}

.off-screen-vertical-center {

  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  margin-top: -1000px;
}

.no-scrollbar {
  overflow: hidden;
}

#start{
  margin-top: 100px;
}

#main-content {

}

#trivia-main {
  background: green url("../images/kashyyyk1.jpg") no-repeat scroll center;
  background-size: cover;
  height: 700px;
}

#trivia-title {
  margin-top: 50px;
  margin-bottom: 25px;
}

#trivia-display {
  margin-bottom: 20px;
}

.margin-top-some {
  margin-top: 20px;
}

.hover-highlight:hover {
  background-color: darkslategray;
  border: 2px solid white;
  color: rgb(75,213,238);
}

.always-highlight {
  background-color: darkslategray;
  border: 2px solid white;
  color: rgb(75,213,238);
}

.hover-highlight:active, .always-highlight:active {
  background-color: white;
  border: 2px solid red;
  color: rgb(75,213,238);
}

#image-display {
  height: 300px;
  width: 400px;
}
